<!DOCTYPE html>

<html>
  <head>
    <title>404</title>
    {{>head_source}}
  </head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{error}}</p>
  </div>
  
  {{>footer}}
</body>

</html>