<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    {{>head_source}}
  </head>

<body>
  <div class="main-content">
    {{>header}}

    <img class="portrait" src="/img/firesuit.jpg" alt="firesuit">
    <p>{{name}}</p>
  </div>

  {{>footer}}
</body>

</html>