<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

<body>
  {{>header}}
  <img src="/img/firesuit.jpg" alt="firesuit">
  <p>{{name}}</p>

  {{>footer}}
</body>

</html>